.bg-custom {
  background: #f1f3ff;
}
.button {
  background-color: rgb(25, 177, 25);
  padding: 1vw 2vw;
  border-radius: 10px;
  color: white;
  width: fit-content;
  margin: 20px auto 0;
  cursor: pointer;
}

#section {
  padding: 30px 0px;
  border-bottom: 1px red solid;
}

.nav-link {
  color: black;
}
